body {
  font-family: "Nunito", sans-serif;
  background-color: #f5f4f4;
}
nav {
  background-color: #1A1A1A;
}
/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  /* opcional: efecto scroll */
  background-size: 50%;
  background-position: left 20%;
  background-color: #020101; /* O el color que quieras de fondo */
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#Mis-trabajos {
  background-color: #1A1A1A;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

footer {
  background-color: #1A1A1A;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
